body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f2f5;
    margin: 0;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 310px;
}

.header {
    display: flex;
    justify-content: space-between; /* Space items evenly across the header */
    align-items: center; /* Center items vertically */
    background-color: white; /* Changed to white */
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 2px solid black; /* Added black border */
}

.header-content {
    text-align: center; /* Align text in the center horizontally */
}

.header img {
    width: 50px;
    height: 50px;
    
}

.header h1 {
    color: rgb(250, 7, 7);
    font-size: 1.5em;
    margin: 0;
}

.converter-box {
    background: linear-gradient(45deg, #908c8c, #000);
    border: 0px solid black;
    padding: 5px;
    border-radius: 10px;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.converter {
    display: flex;
    flex-direction: column;
    width: 100%;
}

label {
    margin-top: 5px;
    color: rgb(255, 248, 248);
}

input, select {
    margin-top: 5px;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 93%;
}

button {
    background: linear-gradient(45deg, #013001, #2E8B57);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
    font-size: 1em;
}

button:hover {
    
    background-color: #218838;
}

#result {
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
    color: #d5030a;
}

